<%= label_tag :letters %>
<%= text_field_tag :letters %>

<%= label_tag :start_with %>
<%= text_field_tag :start_with %>

<%= label_tag :end_with %>
<%= text_field_tag :end_with %>

<%= label_tag :contains %>
<%= text_field_tag :contains %>

<div id="find-words">
  Find words
</div>

<h2>Search Results</h2>
<div class="search-results">
</div>
